{% extends "base.html" %}

{% block content %}
  {% for birthday in page_obj %}
    <!-- Добавим класс row: каждая запись — это строка -->
    <div class="row">
      <!-- Первая "колонка" в строке, её ширина — 2/12 -->
      <div class="col-2">  
        {% if birthday.image %}
          <!-- У объекта картинки image есть атрибут url — его и укажем в src -->
          <img src="{{ birthday.image.url }}" height="100">
        {% endif %}
      </div>

      <!-- Вторая "колонка" в строке, её ширина — 10/12 -->
      <div class="col-10">  
        <div>
          {{ birthday.first_name }} {{ birthday.last_name }} — {{ birthday.birthday }}<br>
          <a href="{% url 'birthday:detail' birthday.id %}">Сколько до дня рождения?</a>
        </div>      
        <div>
          <a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a> | <a href="{% url 'birthday:delete' birthday.id %}">Удалить запись</a>
        </div>
      </div>
      {% if not forloop.last %}
        <!-- Класс mt-3 устанавливает отступ сверху (margin-top) в 30 px -->
        <hr class="mt-3"> 
      {% endif %}
    </div>
  {% endfor %}

  {% include "includes/paginator.html" %}
  
{% endblock %}